.Basic {
    background: linear-gradient(to right, #f60202 10%, #ff9100f3 60%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 20px;
    }
.download{
    font-family: "Grand Hotel";
    font-size: 65px;
    color: white;
    text-align: center;
    line-height: 1;
    margin: 30px 0;
}
.app{
    width: 200px;
    height: 200px;
}
.parentApp:hover p{
    color: rgb(255, 85, 0);
} 
.parentApp:hover img{
    transform: translateY(-10px);
}
